<a href="https://colab.research.google.com/github/Raghu0461/kedargit/blob/main/patternalpha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for row in range(6):
  print(row)

0
1
2
3
4
5

In [ ]:
n=5;
for row in range(n):
  for col in range(0,row+1):
     print("* ",end="")
  print('\r')

*
* *
* * *
* * * *
* * * * *

In [ ]:

for row in range (6):
  for col in range(6):
    if(col==0 or col==4) or ((row==0 or row==3) and (col>0 and col<4)):
      print("*",end="")
    else:
      print(end=" ")
  print("\r")

*****
*   *
*   *
*****
*   *
*   *

In [ ]:
for row in range(6):
  for col in range(6):
    if(col==0 or col==5) or (col==row):
      print("*",end="")
    else:
      print(end=" ")
  print("\r")

*    *
**   *
* *  *
*  * *
*   **
*    *

In [ ]:
for row in range(6):
  for col in range(6):
    if(row==5) or ((col==0 or col==5) and row!=5):
      print("*",end="")
    else:
      print(end=" ")
  print("\r")

*    *
*    *
*    *
*    *
*    *
******

In [ ]:
for row in range (6):
  for col in range(20):
    if(col==0 or col==1 or col==2 or col==3 or col==4 or col==5):
      if(col==0 or col==5) or ((row==0 or row==3) and (col>0 and col<5)):
        print("A",end="")
      else:
        print(end=" ") 
    elif(col==6 or col==7 or col==8 or col==9 or col==10 or col==11 or col==12 or col==13):
      if(col==7 or col==12) or (col==row+7):
        print("N",end="") 
      else:
        print(end=" ")
    else:  
      if(row==5) or ((col==14 or col==19) and row!=5):
        print("U",end="")
      else:
        print(end=" ")
  print("\r")

AAAAAA N    N U    U
A    A NN   N U    U
A    A N N  N U    U
AAAAAA N  N N U    U
A    A N   NN U    U
A    A N    N UUUUUU

In [ ]:
for row in range (6):
  for col in range(20):
    if(col>=0 and col<=5):
      if(col==0 or col==5) or ((row==0 or row==3) and (col>0 and col<5)):
        print("*",end="")
      else:
        print(end=" ") 
    elif(col>=6 and col<=13):
      if(col==7 or col==12) or (col==row+7):
        print("*",end="") 
      else:
        print(end=" ")
    else:  
      if(row==5) or ((col==14 or col==19) and row!=5):
        print("*",end="")
      else:
        print(end=" ")
  print("\r")

****** *    * *    *
*    * **   * *    *
*    * * *  * *    *
****** *  * * *    *
*    * *   ** *    *
*    * *    * ******

In [ ]:
 for row in range(6):
  for col in range(7):
    if(row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
      print("*",end="")
    else:
      print(end=" ")
  print("\r")

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [ ]:
for row in range (6):
  for col in range(28):
    if(col>=0 and col<=5):
      if(col==0 or col==5) or ((row==0 or row==3) and (col>0 and col<5)):
        print("*",end="")
      else:
        print(end=" ") 
    elif(col>=6 and col<=13):
      if(col==7 or col==12) or (col==row+7):
        print("*",end="") 
      else:
        print(end=" ")
    elif(col>=14 and col<=20):
      if(row==5 and col!=20) or ((col==14 or col==19) and row!=5):
        print("*",end="")
      else:
        print(end=" ")
    else:
      if(row==0 and col%3!=0) or (row==1 and col%3==0) or (col-row==19) or (row+col==29):
        print("*",end="")
      else:
        print(end=" ")
  print("\r")

****** *    * *    *  ** **
*    * **   * *    * *  *  *
*    * * *  * *    * *     *
****** *  * * *    *  *   *
*    * *   ** *    *   * *
*    * *    * ******    *

In [ ]:
for row in range(4):
  for col in range(7):
    if(row==col) or (row+col==6):
      print("v",end="")
    else:
      print(end=" ")
  print("\r")

v     v
 v   v
  v v
   v

In [ ]:
for row in range(4):
  for col in range(4):
    if(col==1) or (col==0 and row!=0 and row!=1):
      print("J",end="")
    else:
      print(end=" ")
  print("\r")

 J
 J
JJ
JJ

In [ ]:
for row in range (6):
  for col in range(6):
    if(col>=0 and col<=5):
      if(col==0 or col==5) or ((row==0 or row==3) and (col>0 and col<5)):
        print("*",end="")
      else:
        print(end=" ")
  print("\r")

******
*    *
*    *
******
*    *
*    *

In [ ]:
for row in range (5):
  for col in range(5):
    if(row==2) or (row==1 and (col==1 or col==2)) or (row==0 and col==2) or (row==3 and (col==0 or col==4)):
        print("A",end="")
    else:
        print(end=" ")
  print("\r")

  A
 AA
AAAAA
A   A

In [ ]:
for row in range (5):
  for col in range(5):
    if(row==2) or (row==1 and (col==1 or col==2)) or (row==0 and col==2) or (row==3 and (col==0 or col==4)):
        print("A",end="")
    else:
        print(end=" ")
  print("\r")

In [ ]:
for row in range (4):
  for col in range(22):
    if(col>=0 and col<=2):
      if(col==1) or (col==0 and row!=0 and row!=1):
        print("J",end="")
      else:
        print(end=" ") 
    elif(col>=3 and col<=8):
      if(row==2 and col!=8) or (row==1 and (col==4 or col==5)) or (row==0 and col==5) or (row==3 and (col==3 or col==7)):
        print("A",end="") 
      else:
        print(end=" ")
    elif(col>=9 and col<=16):  
      if(row+9==col) or (row+col==15):
        print("V",end="")
      else:
        print(end=" ")
    else:
      if(row==2) or (row==1 and (col==18 or col==19)) or (row==0 and col==19) or (row==3 and (col==17 or col==21)):
        print("A",end="") 
      else:
        print(end=" ")
  print("\r")

 J   A   V     V   A
 J  AA    V   V   AA
JJ AAAAA   V V   AAAAA
JJ A   A    V    A   A

In [ ]:
width=float(input("enter width:"))
height=float(input("enter height:"))
area=width*height
perimeter=(2*width)+(2*height)
print(area)
print(perimeter)

enter width:5.5
enter height:2.2
12.100000000000001
15.4